Regex transform

**Is your feature request related to a problem? Please describe.**
When replacing a url with regex, there is some cases where you need to transform them. For example: example.com/HeY ➔ example.com/hey

**Describe a solution you've considered**
None.

**Describe alternatives you've considered**
None.

**Additional context**
None.


Do you mean using a regexp transformation? like '/H(.)Y' -> '/h$1y'? The current patterns checker module does allow for a replacement, there are some included which uses it, and you can find more on the [wiki](https://github.com/TrianguloY/UrlChecker/wiki/Custom-patterns).

Or do you mean something else like changing the characters case (lower/upper)?

Oh, I meant for the lower/upper case transformation.

Ah, unfortunately java regexp doesn't support changing case. I could add a module with two buttons, or at least one to make the url lowercase. In any case, what is the reasoning for this feature? Aren't urls case-insensitive?

tl;dr the scheme (e.g. `https` vs `HTTPS`) and the host of a URI are case-insensitive, but the rest (paths, queries etc.) are not, at least according to RFC 3986, RFC 2616 and RFC 7230

From an answer on https://stackoverflow.com/questions/15641694/are-uris-case-insensitive :
> [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986) states:
> > the scheme and host are case-insensitive and therefore should be normalized to lowercase. For example, the URI <HTTP://www.EXAMPLE.com/> is equivalent to <http://www.example.com/>. The other generic syntax components are assumed to be case-sensitive unless specifically defined otherwise by the scheme
>
> [RFC 2616](https://www.rfc-editor.org/rfc/rfc2616) defines the following comparison rule for the HTTP scheme:
> > When comparing two URIs to decide if they match or not, a client SHOULD use a case-sensitive octet-by-octet comparison of the entire URIs, with these exceptions:
>
> However, [RFC 7230](https://www.rfc-editor.org/rfc/rfc7230) locks it down further by stating
> > The scheme and host are case-insensitive and normally provided in lowercase; all other components are compared in a case-sensitive manner.
>
> Those rules typically apply to client side comparisons. There are no rules specifically geared for server side comparisons. Once a server breaks up a URI into its components, it should treat them according to the same rules, but I don't see that enforced in the RFCs. Some web servers, like Apache, do follow the rules. IIS doesn't, for compatibility with Windows' case-insensitive file system.

So, for that reason, a module to change the url case is not a good idea, since it would break most of them. It could change the left part though, but I'm not sure if that's really useful in any case.

Since you mentioned regexp, is there any specific user case you know that may benefit from this feature? Maybe there is a shortener-like service that makes the long urls with different case and so you need to change it when unshortening it? 

That's... a very good reason indeed. According to the standard the domain part of an url is case insensitive, and some apps even translate it to lowercase. It's a shame that java regexp doesn't support case syntax, replacing the domain with a lowercase is a nice addition. I wonder if having it as a special rule in that module could be problematic. A new module just for that seems a bit too much, but with this new information maybe it's worth it.

I'm thinking of a module with two buttons:
- Change domain to lowercase: will notify if the domain part has uppercase, and pressing the button will make it lowercase. Probably also with an automatic setting toggle since the destination url doesn't change so it's safe.
- Change path case: if there is at least an uppercase letter, will make it all lowercase. If all are lowercase will make it uppercase. Not sure if this would be a good idea, but a regexp to specify which urls to auto-change can be useful...maybe? Paths in urls are case sensitive, so the destination does change and it's not safe.